<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <!--<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>-->
  <!--<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>-->
  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
  <script>"http://html5shiv.googlecode.com/svn/trunk/html5.js"</script>
  <![endif]-->
  <!--[if lt IE 8]>
  <script>"http://html5shiv.googlecode.com/svn/trunk/html5.js"</script>
  <![endif]-->
  <%= stylesheet_link_tag 'blueprint/screen', :media => 'screen' %>
  <%= stylesheet_link_tag 'blueprint/print', :media => 'print' %>
</head>
<body>

<%= yield %>

</body>
</html>
